p:first-letter {
	text-transform: uppercase;
}

li:first-letter {
	text-transform: uppercase;
}

h1:first-letter {
	text-transform: uppercase;
}

.style_comms {
	border-top-style: double;
	margin-top: 20px;
}

.comms {
	margin-left: 565px;
	text-align: right;
}

.publish {
	margin-left: 20px;
}

.decale {
	margin-left: 7px;
}

.style_input {
	border-left-style: solid;
	height: 400px;
	margin-top: 10px;
}

.input_author {
	margin-left: 18px;
}

.input_title {
	margin-left: 31px;
}

.input_essay {
	margin-left: 5px;
	width: 210px;
	height: 230px;
}

.a_droite {
	float: right;
}

.ajuste_commauth {
	margin-left: 46px;
}

.ajuste_commcont {
	margin-left: 10px;
}

.style_sommaire {
	border-left-style: solid;
	border-bottom-style: solid;
	border-top-style: solid;
}

.titre_sommaire {
	text-align: center;
	font-weight: bold;
}

.reduit {
	font-size: 70%;
}

.comm {
	border-bottom-style: dotted;
	width: 300px;
	text-align: justify;
}

.post_body {
	margin-top: 20px;
	text-align: justify;
}

.post_author {
	color: red;
	font-weight: bold;
	font-style: italic;
	margin-top: 5px;
}